<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title><%= pagetitle %></title>
  <%- include('./partials/head') -%>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
</head>
<body>
  <div class="hero_area">
    <%- include('./partials/header') -%>
  </div>
  <section class="detail_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading_container text-center">
            <h2>
                <%= pagetitle %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container mb-4">
    <div class="row">
        <div class="col-md-3">
            <p>Hi, <%= user.name %></p>
            <div class="myaccount-sidebar">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                    <a class="nav-link" href="/auth/my-account">My Account</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="/auth/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/auth/changepassword">Change Password</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">            
            <% if(order && order!= null){ %>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="card mb-4">
                    <div class="card-header py-3">
                      <h5 class="mb-0 text-font text-uppercase">Billing address</h5>
                    </div>
                    <div class="card-body">
                      <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_firstname; %> <%= order[0].billinginfo[0].billing_lastname %></p>
                      <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_email; %></p>
                      <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_phone; %></p>
                      <p class="fw-bold text-font">
                        <%= order[0].billinginfo[0].billing_address; %></p>
                      <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_address2; %></p>
                      <p class="fw-bold text-font">
                        <%= order[0].billinginfo[0].billing_country; %>, 
                        <%= order[0].billinginfo[0].billing_state; %><br>
                        <%= order[0].billinginfo[0].billing_zip; %>
                      </p>
                    </div>          
                  </div>          
                </div>
                <div class="col-md-6 mb-4">
                  <div class="card mb-4">
                    <div class="card-header py-3">
                      <h5 class="mb-0 text-font text-uppercase">Shipping address</h5>
                    </div>
                    <% if(order[0].shippinginfo == null){ %>
                      <div class="card-body">
                        <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_firstname; %> <%= order[0].billinginfo[0].billing_lastname %></p>
                        <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_email; %></p>
                        <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_phone; %></p>
                        <p class="fw-bold text-font">
                          <%= order[0].billinginfo[0].billing_address; %></p>
                        <p class="fw-bold text-font"><%= order[0].billinginfo[0].billing_address2; %></p>
                        <p class="fw-bold text-font">
                          <%= order[0].billinginfo[0].billing_country; %>, 
                          <%= order[0].billinginfo[0].billing_state; %><br>
                          <%= order[0].billinginfo[0].billing_zip; %>
                        </p>
                      </div> 
                    <% } else { %>
                    <div class="card-body">
                      <p class="fw-bold text-font"><%= order[0].shippinginfo[0].shipping_firstname; %> <%= order[0].shippinginfo[0].shipping_lastname %></p>
                      <p class="fw-bold text-font"><%= order[0].shippinginfo[0].shipping_email; %></p>
                      <p class="fw-bold text-font"><%= order[0].shippinginfo[0].shipping_phone; %></p>
                      <p class="fw-bold text-font">
                        <%= order[0].shippinginfo[0].shipping_address; %></p>
                      <p class="fw-bold text-font"><%= order[0].shippinginfo[0].shipping_address2; %></p>
                      <p class="fw-bold text-font">
                        <%= order[0].shippinginfo[0].shipping_country; %>, 
                        <%= order[0].shippinginfo[0].shipping_state; %><br>
                        <%= order[0].shippinginfo[0].shipping_zip; %>
                      </p>
                    </div> 
                    <% } %>        
                  </div>          
                </div>
              </div>
              <% if(order[0].cart_items.length > 0){ %>
              <div class="row">
                <div class="table-responsive shopping-cart">
                  <table class="table table-sm">
                      <thead>
                          <tr>
                              <th>Product Name</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Subtotal</th>
                          </tr>
                      </thead>
                      <tbody> 
                        <% order[0].cart_items.forEach(function(row, index){
                          let imgLink = `${process.env.SITE_URL}/backend/img/noImageFound.png`;
                          if(row.image !== null) {
                              if(row.image){
                                  imgLink = row.image.replace(/\\/g, '/');
                                  imgLink= imgLink.split( 'public/' ).join( '/' );
                              }
                          }
                        %>                       
                          <tr>
                              <td>
                                  <div class="product-item">
                                      <a class="product-thumb" href="/product/detail/<%= row.slug %>"><img src="<%= imgLink %>" alt="Product" width="200"></a>
                                      <div class="product-info">
                                          <h4 class="product-title"><a href="/product/detail/<%= row.slug %>"><%= row.name %></a></h4>
                                      </div>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <div class="count-input">
                                    <%= row.quantity %>
                                  </div>
                              </td>
                              <td class="text-center text-lg text-medium">$<% if(row.price && !row.price.$numberDecimal) { var price = row.price; } else if(row.price.$numberDecimal){ var price = row.price.$numberDecimal; } %><%= price * row.quantity %></td>
                          </tr> 
                        <% }) %>                         
                      </tbody>
                  </table>
              </div>
              <div class="shopping-cart-footer">
                <div class="column"></div>
                <div class="column text-lg">
                  <p>Subtotal: <span class="text-medium">$<%= cart.total %></span></p>
                </div>
              </div>

              <div class="col-md-12 mb-4">
                <div class="card mb-4">
                  <div class="card-header py-3">
                    <h5 class="mb-0 text-font text-uppercase">Payment Detail</h5>
                  </div>
                  <div class="card-body">
                    <p  class="fw-bold text-font">Payment type: <span class="text-medium"><%= order[0].paymenttype %></span></p>
                    <p  class="fw-bold text-font">Payment method: <span class="text-medium"><%= order[0].paymentmethod %></span></p>
                    <p  class="fw-bold text-font">Payment status: <span class="text-medium"><%= order[0].paymentstatus %></span></p>
                    <% if(order[0].paymentmethod == 'stripe'){ %>
                    <p  class="fw-bold text-font">Customer id: <span class="text-medium"><%= order[0].customer_id %></span></p>
                    <p  class="fw-bold text-font">Payment id: <span class="text-medium"><%= order[0].payment_id %></span></p>
                    <% } %>
                    <p  class="fw-bold text-font">Order status: <span class="text-medium"><%= order[0].orderstatus %></span></p>
                    <p  class="fw-bold text-font">Order date: <span class="text-medium"><%= order[0].createdAt %></span></p>                   
                  </div>          
                </div>          
              </div>

              </div>
              <% } %>
            <% } %>
        </div>
    </div>
  </div>
  <!-- footer section -->
  <%- include('./partials/footer') -%>
  <!-- footer section -->
  <%- include('./partials/footer-script') -%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
  
</body>
</html>