<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= pagetitle %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <%- include('./partials/head') -%>
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('./partials/sidebar') -%>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/header-nav') -%>
            <!-- Navbar End -->
            <!-- Middle HTML Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="row g-4">
                                <div class="col-sm-6">
                                    <h6 class="mb-4"><%= pagetitle %></h6>
                                </div>
                                <div class="col-sm-6 text-end">
                                    <a href="/admin/products" class="btn btn-link"><i class="fa fa-arrow-left me-2"></i> Back To Products</a>
                                </div>                                
                            </div>
                            <dl class="row mb-0">
                                <dt class="col-sm-4">Title</dt>
                                <dd class="col-sm-8"><%= result.title %></dd>

                                <dt class="col-sm-4">Description</dt>
                                <dd class="col-sm-8"><%- result.description %></dd>

                                <dt class="col-sm-4">Price</dt>
                                <dd class="col-sm-8">$<%= result.price %></dd>

                                <dt class="col-sm-4 text-truncate">Image</dt>
                                <dd class="col-sm-8">
                                    <% 
                                        if(result.image !== null) {
                                            if(result.image){
                                                let imgLink = result.image.path.replace(/\\/g, '/');
                                                imgLink= imgLink.split( 'public/' ).join( '/' );
                                                %>
                                                <a href="<%= imgLink %>" target="_blank">
                                                    <img src="<%= imgLink %>" width="80"/>
                                                    <small><%= result.image.originalname %></small>
                                                </a>
                                                <%
                                            }
                                        }
                                    %>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Middle HTML End -->
            <!-- Footer Start -->
            <%- include('./partials/footer') -%>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>   
    <!-- JavaScript Libraries -->
    <%- include('./partials/footer-script') -%>
</body>
</html>