<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= pagetitle %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <%- include('./partials/head') -%>
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('./partials/sidebar') -%>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/header-nav') -%>
            <!-- Navbar End -->

            <!-- Middle HTML Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4"><%= pagetitle %></h6>
                            <% if(typeof infomessages !== "undefined"){ %>
                                <%- infomessages %>
                            <% } %>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" id="description" name="description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="text" class="form-control" id="price" name="price">
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category</label>
                                    <select class="form-select" id="category" name="category">
                                        <option value="">Select</option>
                                        <%
                                            if(typeof categories != 'undefined' && categories.length > 0){
                                                categories.forEach(function(row, index){
                                            %>
                                            <option value="<%= row._id %>"><%= row.name %></option>
                                            <%        
                                                })
                                            }
                                        %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label">Image</label>
                                    <input type="file" class="form-control" id="image" name="image">
                                </div>
                                <button type="submit" class="btn btn-primary">Add Product</button>
                                <input type="hidden" name="save_type" value="_addproduct_nonce">
                                <input type="hidden" name="nonce" value="<%= nonce %>">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Middle HTML End -->


            <!-- Footer Start -->
            <%- include('./partials/footer') -%>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
   
    <!-- JavaScript Libraries -->
    <%- include('./partials/footer-script') -%>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#description' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>

</html>